.gray-background {
    background-color: #323741;
}
.footer-menu ul {
    display: block;
}

.footer-menu ul li {
    margin-left: 15px;
}

.footer-menu ul li, .footer-menu ul li a{
    display: inline-block;
}

.footer-graph {
    padding-top: .5rem;
    padding-bottom: 0;
    margin: 0;
    color: #fff;
}